Language: Cpp
BasedOnStyle: Microsoft
Standard: Cpp11

# The following options override those from the Microsoft style.
AccessModifierOffset: -4
AlignConsecutiveMacros: true 
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: true

IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
IndentWidth: 4
SpacesBeforeTrailingComments: 1

AlignOperands: Align 
AlwaysBreakTemplateDeclarations: Yes  # 强制模板声明换行
BinPackParameters: false             # 禁止将模板参数打包到一行
BraceWrapping:
  AfterClass: false                  # class 定义后不换行
  AfterStruct: false                 # struct 定义后不换行
  AfterUnion: false                  # union 定义后不换行
  AfterCaseLabel: false               # case 标签后不换行
  AfterFunction: false               # 函数定义后不换行
  AfterNamespace: true               # namespace 定义后换行
  AfterControlStatement: false        # 控制语句后不换行
  SplitEmptyFunction: true           # 拆分空函数
  SplitEmptyRecord: true             # 拆分空记录
  SplitEmptyNamespace: true          # 拆分空命名空间
  BeforeCatch: false                  # catch 前不换行
  BeforeElse: false                   # else 前不换行
  IndentBraces: false                # 不对大括号进行额外缩进

BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
PointerBindsToType: true
SpaceBeforeCpp11BracedList: true
ColumnLimit: 120  
ConstructorInitializerIndentWidth: 0

ContinuationIndentWidth: 4           # 续行缩进为 4 个空格
AllowAllParametersOfDeclarationOnNextLine: false  # 禁止将所有参数放在下一行
SpaceAfterTemplateKeyword: true      # 在 `template` 关键字后添加空格
SpacesInAngles: false               # 不在模板尖括号内添加空格