Language: Cpp
BasedOnStyle: Microsoft
Standard: Cpp11

# The following options override those from the Microsoft style.
AccessModifierOffset: -4
AlignConsecutiveMacros: true 
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true

IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
IndentWidth: 4
SpacesBeforeTrailingComments: 1

AlignOperands: Align 
AlwaysBreakTemplateDeclarations: true 
BraceWrapping:
  AfterCaseLabel: true
  AfterUnion: true

BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
PointerBindsToType: true
SpaceBeforeCpp11BracedList: true
ColumnLimit: 120  
ConstructorInitializerIndentWidth: 0